<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="theme-color" content="#16262E"/>
  <link rel="manifest" href="./app.webmanifest">
  <link rel="apple-touch-icon" href="/icons/icon-192x192.png">
  <title>CariMakan</title>
</head>
<body>
  <header>
    <a href="#recommend" class="skip-link" tabindex="0">Langsung Menuju Konten</a>
    <a href="/" id="brand_logo" tabindex="0">Cari<span>Makan</span></a>
    <button id="hamburger" aria-label="menu" tabindex="0">
      <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-menu-2" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
        <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
        <path d="M4 6l16 0"></path>
        <path d="M4 12l16 0"></path>
        <path d="M4 18l16 0"></path>
      </svg>
    </button>
    <nav>
      <a href="/" aria-label="beranda" tabindex="0">Home</a>
      <a href="/#/favorite" aria-label="favorit" tabindex="0">Favorite</a>
      <a href="https://github.com/lakhatekno" aria-label="tentang kami" tabindex="0">About Us</a>
    </nav>
  </header>
  <main>
    <section id="hero">
      <picture>
        <source media="(width <= 768px)" srcset="./images/hero-image_2-small.jpg">
        <img src="./images/hero-image_2-large.jpg" alt="makanan di atas meja">
      </picture>
      <h1 tabindex="0">CariMakan</h1>
      <p tabindex="0">Cara Mudah Cari Restoran</p>
    </section>
    <section id="recommend" tabindex="0" class="content">
      <h2 tabindex="0" id="content_header"></h2>
      <div id="content_body"></div>
    </section>
  </main>
  <footer>
    <footer-custom></footer-custom>
  </footer>

</body>
</html>
